.container {
  display: none;

  @media (min-width: 640px) {
    display: flex;
    align-items: center;
    padding: calc(var(--space-small) * 1.5) var(--space-large);
    min-width: fit-content;

    svg {
      fill: var(--color-text--reverse);
    }

    a {
      display: flex;
      align-items: center;

      > p {
        font-size: var(--typography--fontSize-small);
        text-transform: uppercase;
        font-weight: 700;
        color: var(--color-text--reverse);
      }
    }
  }
}
