.emptyCardContainer {
  display: flex;
  border: var(--border-base) solid var(--color-border);
  border-radius: var(--radius-base);
  height: calc(100% - var(--space-base));
  padding: var(--space-small) var(--space-base) 0 calc(var(--space-base) * 0.75);
  min-height: 600px;
  @media (min-width: 640px) {
    padding: var(--space-base) var(--space-base) 0 0;
  }
}

.emptyCardSkeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  background: linear-gradient(
      transparent,
      var(--color-white) 50%,
      var(--color-white) 50%
    ),
    repeating-linear-gradient(
      0deg,
      transparent 0 var(--space-larger),
      var(--color-white) var(--space-larger) 45px
    ),
    repeating-linear-gradient(
      90deg,
      var(--color-white) 0px var(--space-smaller),
      transparent var(--space-smaller) 20%
    ),
    var(--color-surface--background);

  @media (min-width: 640px) {
    background: linear-gradient(
        transparent,
        var(--color-white) 50%,
        var(--color-white) 50%
      ),
      repeating-linear-gradient(
        to bottom,
        transparent 0 var(--space-larger),
        var(--color-white) var(--space-larger) var(--space-largest)
      ),
      repeating-linear-gradient(
        90deg,
        var(--color-white) 0px var(--space-base),
        transparent var(--space-base) 20%
      ),
      var(--color-surface--background);
  }
}

.emptyCardHeaderText {
  margin-bottom: var(--space-base);

  h3 {
    text-transform: uppercase;
    width: 250px;
    text-align: center;

    @media (min-width: 640px) {
      width: unset;
    }
  }
}
